/*#tab-view-deck {
  margin-top: -1px;
}*/

.tabbrowser-tab[selected] {
  box-shadow: #2A7CB1 0px -3px 0px 0px inset;
}

.tabbrowser-tab[pinned][titlechanged]:not([selected="true"]) > .tab-stack > .tab-content {
  background-image: radial-gradient(farthest-corner at center bottom , #FFF 3%, rgba(186, 221, 251, 0.75) 20%, rgba(127, 179, 255, 0.25) 40%, rgba(127, 179, 255, 0) 70%);
}
